{% extends 'base.html' %}
{% load static %} 

{% block title %}
    <link rel="stylesheet" href="{% static 'cars/car_details.css' %}">
{% endblock %}

{% block content %}
    <div id='voltar'>
        <a class='voltar' href="{% url 'cars_list' %}"><img id='voltar' src="/media/retornar.png" alt="" width="15px" height="15px" title="Voltar"> -- Voltar</a>
    </div>

    <div class="car-grid">
        {% if object.photo %}
            <img src="{{ object.photo.url }}" alt="{{ object.model }} - {{ object.brand }} " title="{{ object.model }} - {{ object.brand }}">
        {% else %}
            <img src="/media/padrao.jpg"> 
        {% endif %}

        <div class="infor">
            <h2><strong> {{ object.brand }} -  {{ object.model }}</strong></h2>
            <div class="boxes">
                <div class="box">
                    <h3><strong> Ano de Fabricação:</strong></h3> 
                    <h4> {{ object.factory_year }} </h4>                     
                </div>
                <div class="box">
                    <h3><strong> Ano do modelo:</strong></h3>
                    <h4> {{ object.model_year }} </h4>

                </div>
                <div class="box">
                    <h3><strong> Placa: </strong></h3> 
                    <h4> {{ object.plate }} </h4>
                </div>
                <div class="box">
                    <h3><strong> Valor de compra: </strong></h3> 
                    <h4> R$ {{ object.value }} </h4>
                </div>
                <div class="box">
                    <h3><strong> Cor: </strong></h3> 
                    <h4> {{ object.cor }} </h4>
                </div>
                <div class="box">
                    <h3><strong> Tração: </strong></h3> 
                    <h4> {{ object.tracao }} </h4>
                </div>
            </div>






                {% if object.bio %}
                <p class="bio"><strong> Bio: </strong> {{ object.bio }} </p>
            {% endif %}

            {% if user.is_authenticated %}
                <a href="{% url 'update_car' object.pk %}"><button>editar</button></a>
                <a href="{% url 'delete_car' object.pk %}"><button class="btn-excluir">excluir</button></a>
            {% endif %}
            {% if not user.is_authenticated %}
                <a target="_blank" href="https://api.whatsapp.com/send?phone=5511913671570&text=Olá,%20este%20veiculo%20ainda%20est%C3%A1%20disponivel?%0APossuo%20interesse!" >
                    <Button class="button_negociar">Negociar com o vendedor!</Button>
                </a>
            {% endif %}
        </div>
    </div>


{% endblock %}