{% extends 'base.html' %}

{% block title %}
    <title>Register Users</title>
    <link rel="stylesheet" href="../../static/users/register.css">
{% endblock %}

{% block content %}

    <div class="box">
        <form method="POST" enctype="multipart/form-data" class="form_users">
            {% csrf_token %}

            <p><h2>Dados Pessoais:</h2></p>
            <table>
                    {{pessoal.pessoal_form.as_table}}
                    
                    
            </table>
            
            <p><h2>Dados de login:</h2></p>
            <table>
                <label>Username: </label>
                    {{user.user_form.username}}<br>
                <label>Senha: </label>
                    {{user.user_form.password1}}<br>
                <label>Redigite sua senha: </label>
                {{user.user_form.password2}}<br>
            </table>
            
            <input type="submit" value="Cadastrar"></input>
        </form>
    </div>


{% endblock %}