

table{
    text-align:left;
    border: 1PX, SOLID rgba(178, 176, 176, 0.747);
    padding: 1rem;
    background: #b8b6b637;
    width: 40%;
    line-height: 2em ;
}

.new_car_form{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    
}

td{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.473);
}


input#id_factory_year,#id_model_year,#id_value,#id_plate,#id_model{
    padding: 5px;
    width: 80%;
    margin: 0px 10px 0px 10px;
    background: #ffffff;
    border: 1PX, SOLID rgb(0 0 0);
    border: none;
    border-radius: 4px;
}

textarea#id_bio{
    border-radius: 8px;   
}


.button{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-bottom: 1rem ;
}
input#button{
    color: #ffff;
    background-color: #046282;
    border: none;
    padding: 12px;
    border-radius:  5px;
    width: 10%;
    min-width: max-content;
}

a#link{
    text-decoration:none ;
}

a#link:hover{
    text-decoration: underline;
}




input#button:hover{
    cursor: pointer;
    background-color: #108eb8;

}