body{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
table{
    border: 1PX, SOLID rgba(178, 176, 176, 0.747);
    padding: 1rem;
    width: 40%;
    line-height: 2em ;
}
.new_car_form{
    font-size: 18px;
    display: flex;
    flex-direction: row;
}

input#id_factory_year,#id_model_year,#id_value,#id_plate,#id_model{
    padding: 5px;
    margin: 0px 10px 0px 10px;
    background: #ffffff;
    border: 1PX, SOLID rgb(162, 162, 162);
}

input.btn_cadastrar{
    min-width: 394px;
    width: 39%;
    margin-bottom: 1rem ;
    padding: 10px;

}